body {
    background-image: url('../image/wallpvinyl.jpg');
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1.2em;
    width: 85%;
    max-width: 900px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    width: 98%;
    max-width: 900px;
    margin: 0;
    background-color: rgba(216, 81, 63, 0.37);
    border-radius: 5px;
}

.card {
    aspect-ratio: 1/1;
    width: 98%;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    margin: auto;
    
}
.face {
    width: 90%;
    height: 90%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    transition: all 400ms ease;

}
.front {
    background-size: cover;
    background-position: center;
    transform: rotatey(180deg);
    border: 2px solid rgb(27, 26, 25);
    
}
.back {
    background-image: url('../image/vinylrd.png');
    backface-visibility: hidden;
    border: 2px solid rgba(223, 210, 197, 0.616);
}
.reveal-card {
    transform: rotateY(180deg);
}
.disabled-card {
    filter: saturate(0);
    opacity: 0.8;
}

